################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce/ECommerce.Services.ProductAPI/wwwroot/ProductImages
/ECommerce/ECommerce.Services.IdentityAPI/Properties/PublishProfiles
/ECommerce/ECommerce.Services.CouponAPI/Properties/PublishProfiles
/ECommerce/ECommerce.Services.ProductAPI/Properties/PublishProfiles
/ECommerce/ECommerce.Services.ShoppingCartAPI/Properties/PublishProfiles
/ECommerce/ECommerce.Services.EmailAPI/Properties/PublishProfiles
/ECommerce/ECommerce.Services.OrderAPI/Properties/PublishProfiles
/ECommerce/ECommerce.Services.RewardsApi/Properties/PublishProfiles
/ECommerce/ECommerce.Frontend.Mvc/Properties/PublishProfiles
/ECommerce/ECommerce.Gateway.Api/Properties/PublishProfiles
/ECommerce/ECommerce.Gateway.Api/ocelot.Production.json
