################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce/ECommerce.Services.ProductAPI/wwwroot/ProductImages
/ECommerce/ECommerce.Services.IdentityAPI/Properties/PublishProfiles
